/* CSS Reset  */
* {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}
:root {
  --dark-900: rgba(30, 31, 39, 255);
  --dark-700: rgba(40, 44, 49, 255);
  --dark-600: rgba(49, 53, 57, 255);
  --dark-500: rgba(49, 53, 57, 255);
  --dark-300: rgba(128, 128, 128, 255);
  --dark-100: rgba(188, 189, 191, 255);

  --red-500: #f66674;
  --violet-500: #5d3f93;
}
